#redirect-to-account {
    float: right;
    margin-left: 10px;
}

#logo-text {
    margin-left: 50px;
}

#logo-text:hover{
    color: plum;
}
.dropdown-menu.show {
    background-color:#212529;
    color: antiquewhite;
}

a.dropdown-item{
    color: antiquewhite;
}

.ml-auto{
    margin-right: 60px;
}




