#sign-in-div {
  opacity: 1.0;
  background-color:#212529;
  border: 6px solid purple;
}

#redirect-new-user {
  margin-left: 1em;
  text-align: center;
}

.signInButtonsContainer{
  display: flex;
  justify-content: space-between;
}

button#submit-button.btn.btn,
button#post-button.btn.btn
{
  background-color:purple;
  border: none;
}

button#submit-button.btn.btn:hover,
button#submit-button.btn.btn:focus{
  background-color: plum;
  border: none;
}