.SignUpComponent {
    border: 2px solid #d3d3d3;
<<<<<<< HEAD
=======
    opacity: 1.0;
    background-color: 'white';
>>>>>>> mohamed-hassan
    border-radius: .5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 1em;
    text-align: left;
    width: 600px;
    
  }

  .form {
    padding: 1em;
  }
<<<<<<< HEAD
=======

  #sign-up-form{
    opacity: 1.0;
    background-color: white;    /* Fully opaque */
  }

  #redirect-from-signup{
    margin-top: .5em;
    color:whitesmoke;
    width: 250px;
  }
>>>>>>> mohamed-hassan
  
  label {
    font-weight: 600;
  }
  
  #submit-button {
    margin-top: 1em;
    background-color: forestgreen;
  }

  .SignUpComponent-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
<<<<<<< HEAD
=======
    background-image: none;
>>>>>>> mohamed-hassan
  }
  
  .SignUpComponent-link {
    color: #61dafb;
  }
  